<p>标题：{{info}}</p>
<ul>
    {{#each list}}
        <li>
            <a href="/found/list_id/{{id}}/" class="flex-warp">
                <div class="img" style="margin-right: 10px;">
                    <img src="{{img}}" width="45" height="60" alt="">
                </div>
                <div class="info">
                    <div class="title">{{title}}</div>
                    <div class="author samll">{{class_name}} {{author}}</div>

                </div>
            </a>

        </li>
    {{/each}}
</ul>


