<ul>
    {{#each list}}
        <li class="flex-warp">
            <div class="avt">
                <img src="{{img}}">
            </div>
            <div class="info">
                <div>{{id}} - {{title}}</div>
                <div class="author samll">{{author}}</div>
                <div class="time samll">{{time}}</div>
            </div>

        </li>
    {{/each}}
</ul>
